<div class="d-flex gap-2 flex-column w-100">
  <div class="d-flex">
    <div class="fw-semibold w-25">Id</div>
    <span class="fw-normal w-75 ms-3">{{ post?.id }}</span>
  </div>
  <div class="d-flex">
    <div class="fw-semibold w-25">Body</div>
    <span class="fw-normal w-75 ms-3">{{ post?.body }}</span>
  </div>
  <div class="d-flex">
    <div class="fw-semibold w-25">Title</div>
    <span class="fw-normal w-75 ms-3">{{ post?.title }}</span>
  </div>
  <div class="d-flex">
    <div class="fw-semibold w-25">User</div>
    <span class="fw-normal w-75 ms-3">{{ post?.user?.name }}</span>
  </div>
</div>
