<div class="d-flex h-100 w-100 flex-column">
  <div class="d-flex justify-content-between pb-3">
    <div class="fs-2 fw-semibold">Users</div>
    <app-searchbar class="w-50" (search)="filterUsers($event)"></app-searchbar>
  </div>
  <div
    class="border border-1 overflow-x-auto px-3 py-1 rounded-2 w-100 shadow-sm h-100"
  >
    <ng-container *ngIf="loadingTable; else dataTable">
      <div
        class="align-content-center d-flex h-100 justify-content-center overflow-hidden"
      >
        <div
          class="align-self-center d-flex justify-content-center spinner-border"
          role="status"
        >
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </ng-container>
    <ng-template #dataTable>
      <app-table [data]="table"></app-table>
    </ng-template>
  </div>
</div>
