# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/**/dist
/**/.serverless
/tmp
/out-tsc
/docs/compodoc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
**/coverage
**/reports
**/*/reports
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

.angular

**/.scannerwork/
.env

**/generated/*
**/.webpack/*

log.txt
runner-results/
test-results.xml
multi-reporter-config.json

# Package multi-region serverless
**/.sls_tmp/**
**/.temp/**
**/.warmup/**

/nx-daemon/**

# Reports
report.log

# Ansible
ansible/ansible_collections/
