td {
  max-width: 180px;
}

.empty-image {
  background: url('../../../assets/images/no-results.png') no-repeat center;
  height: 220px;
  width: 220px;
  background-size: cover;
}

.table-container {
  overflow-y: auto;
  width: 100%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

thead th {
  position: sticky;
  top: 0;
  z-index: 1;
}

th,
td {
  padding: 10px;
  text-align: left;
}
